:root {
    --white: #fff;
    --black: #000;
    --gold: #ffd700;
    --goldenrod: #daa520;
    --background: radial-gradient(circle at center center, rgb(71, 71, 71),rgb(8, 8, 8));
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}